@import '../style/global.scss';
figure {
  text-align: center;
  margin: 0px;
  height: 75vh;
  max-width: 100%;
  background-color: #131218;
  position: relative;
  margin: auto;
}
.container {
  position: absolute;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
div.static-content, div.video-content {
  width: 100%;
  height: auto;
}
div.video-content {
  z-index: 0;
}
div.static-content {
  z-index: 1;
  transition: all 2s ease-in-out;
}
img {
  width: 100%;
  height: auto;
}
.booth-headline {
  font-size: 22px;
  margin: 0 0 10px;
}
.block {
  opacity: 1;
}
.none {
  opacity: 0;
}
.ptext {
  position: absolute;
  font-family: "Trade Gothic";
  font-size: 1.25rem;
  font-weight: 900;
  font-stretch: condensed;
  text-align: center;
  letter-spacing: -0.015em;
  color: white;
  text-align: center;
  align-self: center;
}
.ptext.pedestal1 {
  left: 24.5%;
  bottom: 22%;
}
.ptext.pedestal2 {
  left: 35%;
  bottom: 17%;
  width: auto;
  right: 35%;
}
.ptext.pedestal3 {
  right: 24.5%;
  bottom: 21%;
}
.ptext.pedestal3.appraisal-and-tax {
  right: 26.5%;
}
.hotspot {
  position: absolute;
  cursor: pointer;
  background-size: contain;
  width: 5.75%;
  height: auto;
}
.hotspot.vdisplay {
  left: 15.5%;
  top: 4.5%;
  transform: rotateX(0deg) rotateY(36deg) rotateZ(-11deg) skew(-8deg, 0deg);
  clip-path: polygon(-1% 0%, 95% 12%, 95% 99.5%, 2% 99%);
  width: 17.5%;
  height: 52.6%;
}
.hotspot.pedestal1 {
  left: 30%;
  top: 58.35%;
}
.hotspot.pedestal2 {
  left: 47.25%;
  top: 60.25%;
}
.hotspot.pedestal3 {
  right: 29.75%;
  top: 58.5%;
}
.hotspot.hdisplay {
  left: 64%;
  top: 16.5%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(4deg) skew(-3deg, 2deg);
  clip-path: polygon(1% 10%, 96% 0%, 100% 98%, 6% 91%);
  height: 28.5%;
  width: 22.6%;
}
.hotspot.vdisplay:hover,
.hotspot.hdisplay:hover {
  background-color: rgba(255,255,255,0.8);
}
.hotspot.pedestal1:active,
.hotspot.pedestal2:active,
.hotspot.pedestal3:active,
.hotspot.pedestal1:hover,
.hotspot.pedestal2:hover,
.hotspot.pedestal3:hover {
  box-shadow: 0 0 40px 20px #fff;
  background-color: rgba(255,255,255,0.8);
}
@media only screen
  and (min-device-width:822px) and (max-width:1239px) {
  figure {
    display: block;
    max-height: 75vh;
    height: 75vh;
    margin: auto;
  }
}
@media only screen
  and (min-width: 1239px)
  and (min-width: 1500px) {
  figure {
    max-width: 75vw;
    max-height: 75vh;
    margin: auto;
  }
  .ptext.pedestal1 {
    left: 25.5%;
  }
  .ptext.pedestal3 {
    right: 25.5%;
  }
}
@media only screen
  and (min-device-width: 1366px)
  and (max-device-height: 768px)
  and (-webkit-min-device-pixel-ratio: 2) { // smaller laptop screens with retina display
  figure {
    max-width: 1024px;
  }
}
@media only screen
  and (max-width: 1366px)
  and (height: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {// iPad Pro
  figure {
    min-width: 1366px;
  }
}
@media only screen
  and (max-device-height: 768px)
  and (min-device-width: 1240px) {
    figure {
      max-width: 1024px;
    }
}

@media only screen
  and (max-device-width:823px) {
  figure {
    display: none;
  }
}
