@import "../style/global.scss";

.main {
  font-family: 'Trade Gothic';
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1px;
  box-sizing: border-box;
  text-align: center;
  background-color: #131218;
}
