@import '../style/variables.scss';

.footer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $color-blue;
  padding: 29px 80px 26px;
  height: 70px;
  z-index: 99;
}

.footer > div {
  flex: 1 1 auto;
  color: white;
  font-size: 15px;
  font-stretch: extra-condensed;
  font-weight: normal;
 }

em {
  font-size: 9px;
  font-style: italic;
  font-weight: 100;
  padding: 2px 25px 0 0;
  vertical-align: baseline;
}

.right {
  text-align: right;
  justify-content: flex-end;
  padding-right: 80px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
