@import '../style/global.scss';

.footer {
  position: absolute;
  bottom: calc(100% - 70) + 'px';
  left: 0;
  right: 0;
  background-color: $color-blue;
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 29px 15px 26px 80px;
  height: 70px;
  vertical-align: middle;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
