@import '../style/global.scss';
.nav {
  font-family: 'Trade Gothic';
  padding: 27px 15px 30px 38px;
  border-bottom: 1.5px solid $color-blue;
  width: 100%;
  background-color: white;
}

.logo {
  background: url("/tylertech_logo.png") no-repeat center center;
  background-size: contain;
  width: 147px;
  height: 49px;
}

ul {
  margin: 0;
  padding: 0;
}


/* clearfix */

ul::after {
  content: '';
  display: block;
  clear: both;
}

li {
  display: block;
  float: left;
}

.message {
  display: none;
}

a {
  text-decoration: none;
  padding: 0;
  display: block;
}

.message {
  background-color: #8c944d;
  color: white;
  text-shadow: 1px 1px 2px #333;
  text-align: center;
  padding: 5px;
}

@media only screen
  and (max-width: 823px)
  and (-webkit-min-device-pixel-ratio: 1) {
  .nav {
    padding: 27px 5px 30px 38px;
  }
}
@media (min-width:822px){
  .message {
    display: none;
  }
}
@media (max-width:823px){
  .message {
    display: block;
  }
}
